In [2]:
import pandas as pd
import os
bottle_data = pd.read_csv(#__path__)

In [3]:
bottle_data.info()
bottle_data['Depth_ID'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887018 entries, 0 to 887017
Data columns (total 62 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cst_Cnt              887018 non-null  int64
 1   Btl_Cnt              887018 non-null  int64
 2   Sta_ID               887018 non-null  object
 3   Depth_ID             887018 non-null  object
 4   Depthm               887018 non-null  int64
 5   T_degC               876053 non-null  float64
 6   Salnty               839663 non-null  float64
 7   O2ml_L               717589 non-null  float64
 8   STheta               834327 non-null  float64
 9   O2Sat                682668 non-null  float64
 10  Oxy_�mol/Kg          682657 non-null  float64
 11  BtlNum               133892 non-null  float64
 12  RecInd               887018 non-null  int64
 13  T_prec               876055 non-null  float64
 14  T_qual               23129 non-null   float64
 15  S_prec               839663 non-null  float64
 16  S_qual               81802 non-null   float64
 17  P_qual               673756 non-null  float64
 18  O_qual               195017 non-null  float64
 19  SThtaq               72726 non-null   float64
 20  O2Satq               228133 non-null  float64
 21  ChlorA               240027 non-null  float64
 22  Chlqua               646628 non-null  float64
 23  Phaeop               240026 non-null  float64
 24  Phaqua               646632 non-null  float64
 25  PO4uM                433429 non-null  float64
 26  PO4q                 453832 non-null  float64
 27  SiO3uM               374205 non-null  float64
 28  SiO3qu               512983 non-null  float64
 29  NO2uM                357429 non-null  float64
 30  NO2q                 543565 non-null  float64
 31  NO3uM                357518 non-null  float64
 32  NO3q                 535783 non-null  float64
 33  NH3uM                84329 non-null   float64
 34  NH3q                 825936 non-null  float64
 35  C14As1               15440 non-null   float64
 36  C14A1p               12760 non-null   float64
 37  C14A1q               869746 non-null  float64
 38  C14As2               15422 non-null   float64
 39  C14A2p               12742 non-null   float64
 40  C14A2q               869764 non-null  float64
 41  DarkAs               23657 non-null   float64
 42  DarkAp               20457 non-null   float64
 43  DarkAq               861581 non-null  float64
 44  MeanAs               23658 non-null   float64
 45  MeanAp               20457 non-null   float64
 46  MeanAq               861580 non-null  float64
 47  IncTim               15445 non-null   object
 48  LightP               19662 non-null   float64
 49  R_Depth              887017 non-null  float64
 50  R_TEMP               840969 non-null  float64
 51  R_Sal                834240 non-null  float64
 52  R_DYNHT              840354 non-null  float64
 53  R_Nuts               84349 non-null   float64
 54  R_Oxy_�mol/Kg        682657 non-null  float64
 55  DIC1                 1999 non-null    float64
 56  DIC2                 224 non-null     float64
 57  TA1                  2084 non-null    float64
 58  TA2                  234 non-null     float64
 59  pH1                  84 non-null      float64
 60  pH2                  10 non-null      float64
 61  DIC Quality Comment  55 non-null      object
dtypes: float64(54), int64(4), object(4)
memory usage: 419.6+ MB

In [5]:
bottle_data = bottle_data[bottle_data['Depth_ID'].str.slice(start=0, stop=5)>='20-15']

array(['19-4903CR-HY-060-0930-05400560-0000A-3',
       '19-4903CR-HY-060-0930-05400560-0008A-3',
       '19-4903CR-HY-060-0930-05400560-0010A-7', ...,
       '20-1911OC-MX-308-2233-09340264-0006A-3',
       '20-1911OC-MX-308-2233-09340264-0010A-7',
       '20-1911OC-MX-308-2233-09340264-0011A-3'], dtype=object)

In [8]:
bottle_data['Depth_ID'].unique()

In [10]:
bottle_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38972 entries, 848046 to 887017
Data columns (total 62 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cst_Cnt              38972 non-null  int64
 1   Btl_Cnt              38972 non-null  int64
 2   Sta_ID               38972 non-null  object
 3   Depth_ID             38972 non-null  object
 4   Depthm               38972 non-null  int64
 5   T_degC               38970 non-null  float64
 6   Salnty               38971 non-null  float64
 7   O2ml_L               37648 non-null  float64
 8   STheta               38970 non-null  float64
 9   O2Sat                37654 non-null  float64
 10  Oxy_�mol/Kg          37649 non-null  float64
 11  BtlNum               26574 non-null  float64
 12  RecInd               38972 non-null  int64
 13  T_prec               38972 non-null  float64
 14  T_qual               2 non-null      float64
 15  S_prec               38971 non-null  float64
 16  S_qual               12610 non-null  float64
 17  P_qual               1 non-null      float64
 18  O_qual               15836 non-null  float64
 19  SThtaq               12626 non-null  float64
 20  O2Satq               15831 non-null  float64
 21  ChlorA               26029 non-null  float64
 22  Chlqua               13069 non-null  float64
 23  Phaeop               26029 non-null  float64
 24  Phaqua               13069 non-null  float64
 25  PO4uM                34852 non-null  float64
 26  PO4q                 4123 non-null   float64
 27  SiO3uM               34861 non-null  float64
 28  SiO3qu               4201 non-null   float64
 29  NO2uM                34599 non-null  float64
 30  NO2q                 18096 non-null  float64
 31  NO3uM                34861 non-null  float64
 32  NO3q                 10082 non-null  float64
 33  NH3uM                34103 non-null  float64
 34  NH3q                 28027 non-null  float64
 35  C14As1               1791 non-null   float64
 36  C14A1p               0 non-null      float64
 37  C14A1q               37171 non-null  float64
 38  C14As2               1791 non-null   float64
 39  C14A2p               0 non-null      float64
 40  C14A2q               37171 non-null  float64
 41  DarkAs               1866 non-null   float64
 42  DarkAp               0 non-null      float64
 43  DarkAq               37096 non-null  float64
 44  MeanAs               1866 non-null   float64
 45  MeanAp               0 non-null      float64
 46  MeanAq               37096 non-null  float64
 47  IncTim               1791 non-null   object
 48  LightP               1872 non-null   float64
 49  R_Depth              38971 non-null  float64
 50  R_TEMP               38970 non-null  float64
 51  R_Sal                38965 non-null  float64
 52  R_DYNHT              38965 non-null  float64
 53  R_Nuts               34103 non-null  float64
 54  R_Oxy_�mol/Kg        37649 non-null  float64
 55  DIC1                 326 non-null    float64
 56  DIC2                 24 non-null     float64
 57  TA1                  372 non-null    float64
 58  TA2                  30 non-null     float64
 59  pH1                  46 non-null     float64
 60  pH2                  6 non-null      float64
 61  DIC Quality Comment  8 non-null      object
dtypes: float64(54), int64(4), object(4)
memory usage: 18.7+ MB

In [12]:
bottle_data.to_csv(r#__output_directory_here
                   , index=False)