# Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math

from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import tree, svm
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import ExtraTreesRegressor

import torch
from torch import nn
from torch.utils.data import Dataset, DataLoader

# Data

In [29]:
bottle1 = pd.read_csv("bottle_data_2010-14.csv")
bottle2 = pd.read_csv("bottle_Data_2015to19.csv", header=None)
cast = pd.read_csv("cast_Data_2015to19.csv")
cc = pd.read_csv('CC_Bottle_Cast.csv')
cc.shape

/Users/annaleaohalloran/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,1,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,48,49,50,51,52,53,54,55,56,57,58,59,60,61) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(221588, 16)

In [3]:
bottle = pd.read_csv("bottle.csv", encoding='utf-8')

/Users/annaleaohalloran/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (47,61) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
print(bottle1.columns)
bottle1.head()
bottle1.info()

In [ ]:
#extracting features we will use
bottle1['nitrogen'] = bottle1['NO3uM'] + bottle1['NO2uM'] + bottle1['NH3uM']
temp = bottle1[['Depthm', 'T_degC', 'SiO3uM', 'PO4uM', 'nitrogen', 'ChlorA']]
temp.dropna(inplace=True)
X = temp[['Depthm', 'T_degC', 'SiO3uM', 'PO4uM', 'nitrogen']]
y = temp['ChlorA']


X.info()

In [ ]:
display(X) #inputs
display(y) #targets

In [ ]:
y.isna().sum()

# Exploring
### Trying out different algorithms from sci-kit learn on Bottle 2010-2014

In [ ]:
# goal: predict chlorA amount using inputs, and check performance by target - unscaled 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

reg = LinearRegression().fit(X_train, y_train)
print('Linear regression:')
print(reg.score(X_train, y_train))
print(reg.score(X_test, y_test))

tree = tree.DecisionTreeRegressor().fit(X_train,y_train)
print('Decision tree:')
print(tree.score(X_train, y_train))
print(tree.score(X_test, y_test))


svm = svm.SVR().fit(X_train,y_train)
print('SVM:')
print(svm.score(X_train,y_train))
print(svm.score(X_test,y_test))

In [ ]:
nn = MLPRegressor(random_state=1, max_iter=500).fit(X_train, y_train)
y_pred = nn.predict(X_test)
print('NN:')
print(nn.score(X_train,y_train))
print(nn.score(X_test, y_test))
print(r2_score(y_test,y_pred))

In [ ]:
rf = RandomForestRegressor().fit(X_train, y_train)
print('RF:')
print(rf.score(X_train,y_train))
print(rf.score(X_test, y_test))

In [ ]:
rf = RandomForestRegressor().fit(X_train, y_train)
print('RF:')
print(rf.score(X_train,y_train))
print(rf.score(X_test, y_test))

In [ ]:
knn = KNeighborsRegressor().fit(X_train, y_train)
print('RF:')
print(knn.score(X_train,y_train))
print(knn.score(X_test, y_test))

In [ ]:
# scaled
X_train_t= StandardScaler().fit_transform(X_train)
X_test_t = StandardScaler().fit_transform(X_test)

reg = LinearRegression().fit(X_train_t, y_train)
print('Linear regression:')
print(reg.score(X_train_t, y_train))
print(reg.score(X_test_t, y_test))

tree = tree.DecisionTreeRegressor().fit(X_train_t,y_train)
print('Decision tree:')
print(tree.score(X_train_t, y_train))
print(tree.score(X_test_t, y_test))


svm = svm.SVR().fit(X_train_t,y_train)
print('SVM:')
print(svm.score(X_train_t,y_train))
print(svm.score(X_test_t,y_test))

nn = MLPRegressor(random_state=1, max_iter=500).fit(X_train_t, y_train)
y_pred = nn.predict(X_test) # this is for r2_score
print('NN:')
print(nn.score(X_train_t,y_train))
print(nn.score(X_test_t, y_test))
print(r2_score(y_test_t,y_pred)) #same as above line

## Same algos but Bottle 2010-2019

In [ ]:
#extracting features we will use
bottle['nitrogen'] = bottle['NO3uM'] + bottle['NO2uM'] + bottle['NH3uM']
temp = bottle[['Depthm', 'T_degC', 'SiO3uM', 'PO4uM', 'nitrogen', 'ChlorA']]
temp.dropna(inplace=True)
X = temp[['Depthm', 'T_degC', 'SiO3uM', 'PO4uM', 'nitrogen']]
y = temp['ChlorA']


X.info()

In [ ]:
# goal: predict chlorA amount using inputs, and check performance by target - unscaled 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
reg = LinearRegression().fit(X_train, y_train)
print('Linear regression:')
print(reg.score(X_train, y_train))
print(reg.score(X_test, y_test))

tree = tree.DecisionTreeRegressor().fit(X_train,y_train)
print('Decision tree:')
print(tree.score(X_train, y_train))
print(tree.score(X_test, y_test))


svm = svm.SVR().fit(X_train,y_train)
print('SVM:')
print(svm.score(X_train,y_train))
print(svm.score(X_test,y_test))

nn = MLPRegressor(random_state=1, max_iter=500).fit(X_train, y_train)
y_pred = nn.predict(X_test)
print('NN:')
print(nn.score(X_train,y_train))
print(nn.score(X_test, y_test))
print(r2_score(y_test,y_pred))

rf = RandomForestRegressor().fit(X_train, y_train)
print('RF:')
print(rf.score(X_train,y_train))
print(rf.score(X_test, y_test))

knn = KNeighborsRegressor().fit(X_train, y_train)
print('KNN:')
print(knn.score(X_train,y_train))
print(knn.score(X_test, y_test))

In [ ]:
# scaled
X_train_t= StandardScaler().fit_transform(X_train)
X_test_t = StandardScaler().fit_transform(X_test)

reg = LinearRegression().fit(X_train_t, y_train)
print('Linear regression:')
print(reg.score(X_train_t, y_train))
print(reg.score(X_test_t, y_test))

#tree = tree.DecisionTreeRegressor().fit(X_train_t,y_train)
#print('Decision tree:')
#print(tree.score(X_train_t, y_train))
#print(tree.score(X_test_t, y_test))


svm = svm.SVR().fit(X_train_t,y_train)
print('SVM:')
print(svm.score(X_train_t,y_train))
print(svm.score(X_test_t,y_test))

nn = MLPRegressor(random_state=1, max_iter=500).fit(X_train_t, y_train)
y_pred = nn.predict(X_test) # this is for r2_score
print('NN:')
print(nn.score(X_train_t,y_train))
print(nn.score(X_test_t, y_test))
print(r2_score(y_test_t,y_pred)) #same as above line

rf = RandomForestRegressor().fit(X_train_t, y_train)
print('RF:')
print(rf.score(X_train_t,y_train))
print(rf.score(X_test_t, y_test))

knn = KNeighborsRegressor().fit(X_train_t, y_train)
print('KNN:')
print(knn.score(X_train_t,y_train))
print(knn.score(X_test_t, y_test))

In [ ]:
et = ExtraTreesRegressor().fit( X_train, y_train)
print('extra trees regressor:')
print(et.score(X_train, y_train))
print(et.score(X_test, y_test))

et = ExtraTreesRegressor().fit( X_train_t, y_train)
print('extra trees regressor, standardized:')
print(et.score(X_train_t, y_train))
print(et.score(X_test_t, y_test))

### Updates so far...
- The best algorithms are: Random Forest Regressor and Extra Trees Regressor
- Unstandarzied data seems better for those algorithms(we wont use the standard scaler)
- They only reach about .61 in test scoring, which we want to be as close to 1 as possible 
- Linear regression , SVM, NN and KNN give trash scores

## Using CC_Bottle data
The hope here is that with this cleaner, larger data with more predictive inputs we can make better predictions and get higher scores in testing.

In [24]:
cc.head()

,Cast_Count,Depth,Temp,Silicate,Phosphate,ChlorA,Light_Percent,Cruise_ID,Station_ID,Date,Lat_Dec,Lon_Dec,Year,Month,Day,Nitrogen
0,20851,0,15.34,2.0,0.25,0.85,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.1
1,20851,1,15.34,2.0,0.25,0.85,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.1
2,20851,10,15.32,2.0,0.28,0.65,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.1
3,20851,11,15.32,2.0,0.28,0.62,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.1
4,20851,20,15.28,2.5,0.29,0.58,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.4

In [9]:
temp2 = cc[['Depth', 'Temp', 'Silicate', 'Phosphate', 'Nitrogen', 'ChlorA', 
            'Month', 'Year', 'Lat_Dec', 'Lon_Dec']]
temp2.dropna(inplace=True)
X2 = temp2[['Depth', 'Temp', 'Silicate', 'Phosphate', 'Nitrogen', 'Month', 'Year', 'Lat_Dec', 'Lon_Dec']]
y2 = temp2['ChlorA']

print(temp2.shape)

(221588, 10)

/Users/annaleaohalloran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.20, random_state=42)

In [14]:
rf = RandomForestRegressor(n_jobs=-1).fit(X_train2, y_train2)
print('random forest regressor training & testing scores:')
print(rf.score(X_train2,y_train2))
print(rf.score(X_test2, y_test2))

random forest regressor training & testing scores:
0.9678663107552431
0.8044182911228168

# Final Model using CC_Data
- Create a null data frame with everything the same except add 2 to every val in temperature to model climate change
- Run prediction on this new dataframe using model we trained up

In [13]:
et = ExtraTreesRegressor(n_jobs=-1).fit( X_train2, y_train2)
print('extra trees regressor trianing & testing scores:')
print(et.score(X_train2, y_train2))
print(et.score(X_test2, y_test2))

extra trees regressor trianing & testing scores:
0.9999999276082675
0.8477522639269703

In [17]:
prediction_data = pd.read_csv('CC_Bottle_Cast.csv')
prediction_data.head()

,Cast_Count,Depth,Temp,Silicate,Phosphate,ChlorA,Light_Percent,Cruise_ID,Station_ID,Date,Lat_Dec,Lon_Dec,Year,Month,Day,Nitrogen
0,20851,0,15.34,2.0,0.25,0.85,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.1
1,20851,1,15.34,2.0,0.25,0.85,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.1
2,20851,10,15.32,2.0,0.28,0.65,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.1
3,20851,11,15.32,2.0,0.28,0.62,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.1
4,20851,20,15.28,2.5,0.29,0.58,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.4

# Prediction:
We want to predict the amount of ChlorA in the future with temperatures increased 2 degrees (simulate the effect of climate change on ChlorA amount, a proxy for phytoplankton abundance.

In [18]:
# add 2 degrees to each item in temp column
def add_two(x):
	return x + 2

prediction_data['Temp'] = prediction_data['Temp'].apply(add_two)

In [19]:
prediction_data.head()

,Cast_Count,Depth,Temp,Silicate,Phosphate,ChlorA,Light_Percent,Cruise_ID,Station_ID,Date,Lat_Dec,Lon_Dec,Year,Month,Day,Nitrogen
0,20851,0,17.34,2.0,0.25,0.85,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.1
1,20851,1,17.34,2.0,0.25,0.85,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.1
2,20851,10,17.32,2.0,0.28,0.65,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.1
3,20851,11,17.32,2.0,0.28,0.62,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.1
4,20851,20,17.28,2.5,0.29,0.58,NaN,1977-12-05-C-31JD,083.3 051.0,12/20/1977,33.866666,-120.141666,1977,12,20,0.4

In [20]:
X3 = prediction_data[['Depth', 'Temp', 'Silicate', 'Phosphate', 'Nitrogen', 'Month', 'Year', 'Lat_Dec', 'Lon_Dec']]
y3 = prediction_data['ChlorA']

In [30]:
predictions = et.predict(X3)
prediction_data['ChlorA'] = predictions

In [31]:
print(predictions)

[0.7306  0.7306  0.6214  ... 2.11453 2.49956 3.74757]

# Plots

In [32]:
# get all data per year
data2014 = cc[cc['Year']==2014]
data2015 = cc[cc['Year']==2015]
data2016 = cc[cc['Year']==2016]
data2017 = cc[cc['Year']==2017]
data2018 = cc[cc['Year']==2018]
data2019 = cc[cc['Year']==2019]
data2020 = prediction_data